<!doctype html>
<html>
<head>
	<title>火绒终端安全控制中心</title>
<link href="css/common.css" rel="stylesheet">
<link href="css/systemSet.css" rel="stylesheet">
<meta content="IE=EmulateIE11" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script type="text/javascript" src="js/sha1.js"></script>
<script type="text/javascript" src="js/json3.js"></script>
	</head>
	<body>
		<div class="top">
			<div class="container">
			<div class="logo relative">
				<img src="images/logo.png"><span> 火绒终端安全管理系统</span>
				{{if .License }}
					{{if .Expired}}
					<span class="empng2 absolute cursor"></span><span class="emmsg2 absolute cursor">正版授权（已到期）</span>
				    {{else}}
					<span class="empng1 absolute cursor"></span><span class="emmsg1 absolute cursor">正版授权</span>
					{{end}}
				{{else}}
				<span class="empng0 absolute cursor"></span><span class="emmsg0 absolute cursor">未授权</span>
				{{end}}
			</div>
			<div class="right relative">
				{{if .PrivSystem }}<a class="updateIcon verticalMiddle cursor" onclick="updatePop()"></a>{{end}}<a class="versionInformation cursor">中心版本 : <b class="centerVersion">{{.VerCenter}}<span class="versionPng verticalMiddle"></span></b>  </a>
				<!-- <a class="versionInformation">终端版本 : <b class="terminalVersion">{{.VerClient}}</b>  </a> -->
				<font>|</font>{{if .PrivSystem }}<a class="systemSB cursor">系统设置</a><font>|</font>{{end}}
				<span class="personButton relative">
					<div class='absolute personFloat cursor'>
						<div class="cc">
							<div class="li"><p class="username"><img src="images/username.png"><b class="verticalMiddle">{{.Username}}</b></p></div>
							<div class="li"><p class="pwModifyB"><img src="images/lock.png"><b class="verticalMiddle">密码修改</b></p></div>
							<div class="li"><p class="loginOutB"><img src="images/power.png"><b class="verticalMiddle">退出登录</b></p></div>
						</div>
				    </div>
				</span>
				<div class="absolute versionFloat cursor">
					<p>终端版本&nbsp;:&nbsp;{{.VerClient}}</p>
					<p>病毒库&nbsp;:&nbsp;<font></font></p>
				</div>
			</div>
			<div class="clear"></div>

		    </div>
		</div>
		<div class="nav">
		    	<div class="container">
				    <a name="firstPage.html">首页</a>
				    {{if or .PrivSystem .PrivMgrClient}}
				    <a name="terminalManage.html">终端管理</a>
				    {{end}}
				    {{if or .PrivSystem .PrivMgrPolicy }}
				    <a name="tacticsArrange.html">防护策略</a>
				    {{end}}
				    {{if or .PrivSystem .PrivMgrDistr }}
				    <a name="softwareStatistics.html">文件管理</a>
				    {{end}}
				    {{if or .PrivSystem .PrivLeakRepair }}
                    <a name="leakrepair.html">漏洞修复</a> 
                    {{end}}
				    {{if or .PrivSystem .PrivLog }}
				    <a name="virusDefense.html">事件日志</a>
				    {{end}}
				    {{if or .PrivSystem .PrivTools }}
				    <a name="terminalArrange.html">管理工具</a>
				    {{end}}
				    {{if or .PrivSystem }}
				    <a name="accountManage.html">账号管理</a>
				    {{end}}
				    {{if or .PrivSystem .PrivNodes }}
				    <a name="nodes.html">多级中心</a>
				    {{end}}
				    <div class="clear"></div>
			    </div>
		</div>
        <div id="iframe">
        	<iframe src='' width='100%' scrolling='no' id='mainFrame' name='mainFrame'></iframe>
        </div>

		<div class="footer">
			<div class="container"><a href="http://www.huorong.cn/" target="_blank">Copyright 2017-2019 北京火绒网络科技有限公司</a></div>
		</div>
		<div class="modifyPwPop pop">
			<div class="title">修改密码<span class="closeW"></span></div>
			<div class="mainBlock vali_pass relative">
				<p class="relative">
					<span>原始密码:</span>
					<input type="password" name="originalP" class="placeholderInput" id="originalP" onfocus="fadeOut(this)" onblur="fadeIn(this)">
					 <span class="placeholder" onclick="spanFocus(this)">请输入原始密码</span>
					<font class="absolute tips">原始密码错误</font>
				</p>
				<p class="newP relative">
					<span>新密码:</span>
					<input type="password" name="newP" id="newP" class="placeholderInput" onfocus="fadeOut(this)" onblur="fadeIn(this)">
					<span class="placeholder" onclick="spanFocus(this)">8-32位大小写字母、数字、特殊字符组成</span>
					<font class="absolute tips">输入新密码</font>
				</p>
				<p class="relative">
					<span>确认密码:</span>
					<input type="password" name="sureP" id="sureP" class="placeholderInput" onfocus="fadeOut(this)" onblur="fadeIn(this)">
					 <span class="placeholder" onclick="spanFocus(this)">请再次输入新密码</span>
					<font class="absolute tips">两次密码不一致</font>
				</p>
			</div>

			
			<div class="buttons">
				<a class="hideButton">取消</a>
				<a onclick="sureMPButton(this)">确定</a>
				
				<div class="clear"></div>
			</div>
		</div>
		<div class="shade"></div>
		<div class="topshade"></div>
		<!-- 系统设置弹层 start  -->
		<div class="systemSPop pop relative">
			<div class="title">系统设置<span class="closeW"></span></div>
	        <div class="mainBlock">
	        	<div class="left">
	                    <a class="title"><img src="images/set1.png">终端相关设置</a>
	                    <a class="pageTab current">终端管理员设置</a>
	                    <a class="pageTab">终端密码保护设置</a>
	                    <a class="title"><img src="images/set.png">控制中心相关设置</a>
	                    <a class="pageTab">中心日志设置</a>
	                    <a class="pageTab">Syslog数据导出</a>
	                    <a class="pageTab">中心升级设置</a>
	                    <a class="pageTab">中心数据备份</a>
	                    <a class="pageTab">中心迁移</a>
	            </div>
	        	<div class="right">
                    <div class="page">
	                    <div class="onOrOff">管理员设置</div>
	            		<div class="setBlock lastSetBlock">
	            			<h3>管理员信息</h3>
	            			<p>当客户端出现问题需要求助管理员时，会在终端显示以下联系信息。</p>
	            			<p>
	            				<span>管理员名称</span>
	                            <input type="text" id="adminName" maxlength="10">
	            			</p>
	            			<p>
	                            <span>联系方式</span>
	                            <input type="text" id="contactMethod" maxlength="20">
	            			</p>

	            		</div>
                    </div>
                    <div class="page">
                    	<div class="onOrOff">密码保护</div>
                        <div class="setBlock">
                                <p>
                                        <input type="checkbox" name="adminPP">
                                        <span>启用管理员密码保护</span>
                                </p>
                                <p class="pwProtec">
                                        <span>密码 : </span>
                                        <input type="password" name="adminP">
                                </p>
                        </div>
                        <div class="setBlock lastSetBlock">
                                <p>
                                        <input type="checkbox" name="terminalPP">
                                        <span>启用防止终端卸载密码保护</span>
                                </p>
                                <p class="pwProtec">
                                        <span>密码 : </span>
                                        <input type="password" name="terminalP" autocomplete="off">
                                </p>
                        </div>
                    </div>

                    <div class="page">
                    	<div class="onOrOff">日志设置</div>
                    	<div class="setBlock lastSetBlock">
                    		<h3>日志保存期限</h3>
                                <p>可限制日志保存期限，减少日志文件硬盘占用</p>
                                <p>
                                        <input type="radio" name="saveTime" value="0">
                                        <span>3个月</span>
                                </p>
                                <p>
                                        <input type="radio" name="saveTime" value="1">
                                        <span>6个月</span>
                                </p>
                                <p>
                                        <input type="radio" name="saveTime" value="2">
                                        <span>1年</span>
                                </p>
                        </div>

                    </div>
         			<div class="page">
                    	<div class="onOrOff">Syslog导出</div>
                    	<div class="setBlock">
                    		<h3>Syslog数据</h3>
                            <p>
                                    <input type="checkbox" name="enable" value="0" class="sysAllBtn">
                                    <span>启用Syslog数据导出</span>
                            </p>
                        </div>
                        <div class="setBlock">
                        	<h3>导出数据类型</h3>
                            <p class="sysInline firstInline">
                                <input type="checkbox" name="defense" value="1">
                                <span>安全日志</span>
                            </p>
                            <p class="sysInline">
                                <input type="checkbox" name="update" value="2">
                                <span>升级日志</span>
                            </p>
                            <p class="sysInline">
                                <input type="checkbox" name="leakrepair" value="3">
                                <span>漏洞修复日志</span>
                            </p>
                        </div>
                        <div class="setBlock lastSetBlock" style="padding-bottom: 0;">
                            <h3>导出数据地址</h3>
                            <div class="sysLogAddOprete programPath">
                            	<p>
                            		<input type="text" name="" id="sysIp" class="placeholderInput"><span class="placeholder ipTips">请输入IP</span>:
                            	</p>
                                <p>
                                	<input type="number" min="0" max="65535" name="" id="sysPort"  class="placeholderInput"><span class="placeholder portTips">请输入端口</span>
                                </p>
                                <a class="addButton cursor">添加</a>
                                <p class="addTips">
                                	<span class="addTips_bg"></span>
                                	<span class="addTips_text"></span>
                                </p>
                            </div>
                            
                		</div>
						<div class="syslogTable">
	                    	<table>
                    			<!--<tr>
                    				<th width="33%">IP</th>
                    				<th width="33%">端口</th>
                    				<th width="33%">操作</th>
                    			</tr>
                    			<tr>
                    				<td width="33%">192.168.1.173</td>
                    				<td width="33%">90</td>
                    				<td width="33%"><a class="underline cursor deleteSys">删除</a></td>
                    			</tr>-->
                    		</table>
	                    </div>
                    </div>
                    <div class="page">
                    	<div class="onOrOff">升级设置</div>
                        <div class="setBlock">
                                <h3>管理中心升级方式设置</h3>
                                <p>
                                        <input type="radio" name="updateM" value='0'>
                                        <span>自动升级<span>
                                </p>
                                <p>
                                    <input type="radio" name="updateM" value='1'>
                                        <span>手动升级<span>
                                </p>
                                <div class="clear"></div>             
                        </div>

                        <div class="setBlock lastSetBlock">
                                <h3>升级服务器代理设置</h3>
                                <div class="content">
                                        <p>可以为升级服务器设置代理，通过代理服务器下载更新资源。</p>
                                        <!-- <p><input type="radio" name="agent" class="radioIn" value="0"><span>使用IE浏览器的代理设置</span></p> -->
                                        <p><input type="checkbox" name="agent" class="radioIn"><span>指定代理服务器</span></p>
                                        <p>代理地址:<input type="" id="agentaddress">端口:<input type="" id="port" ></p>
                                        <p>用户账户:<input type="" id="account">密码:<input type="" id="password" ><a class="netTest cursor">网络测试</a>
                                        </p>
                                </div>
                        </div>

                    </div>
                    <div class="page">
                    	<div class="onOrOff">数据备份与恢复</div>
                    	<div class="backupsIns">
                    		<span class="floatL">备份恢复数据保证中心数据安全</span>
                    		<a class="floatR underline greenfont cursor" onclick="backupsSetPop()">备份设置</a>
                    	</div>
                    	<div class="backupsOperate">
                    		<input type="text" name="backupsRemark" value="" placeholder="可以在此输入手动备份的备注">
                    	    <a class="cursor bButton">立即备份</a>
                    	    <a class="cursor iBButton">导入备份</a>
                    	    <form action="/mgr/backup/_import" method="post" id="importbackups" enctype="multipart/form-data" class="floatR relative">
                    	    	<input type="file" name="data" value="" placeholder="" class="absolute cursor">
                    	    </form>
                    	</div>
                    	<div class="backupsTable">
                    		<table>
                    			<tr>
                    				<th>备份时间</th>
                    				<th>中心版本</th>
                    				<th>备注</th>
                    				<th>备注类型</th>
                    				<th>大小</th>
                    				<th>操作</th>
                    			</tr>
                    			
                    			<tr>
                    				<td>2016-11-24 15:35:11</td>
                    				<td>1.1.11</td>
                    				<td>记录历史时刻</td>
                    				<td>正在备份</td>
                    				<td>1000m</td>
                    				<td>
                    					<a class='cursor underline blackfont' onclick='recoverPop(this)'>立即恢复</a>
                    					<a class='cursor underline blackfont'>下载</a>
                    					<a class='cursor underline blackfont' onclick="deleteBaPop(this)">删除</a>
                    				</td>
                    			</tr>
                    		</table>
                    	</div>
                        

                    </div>
                    <div class="page">
                    	<div class="onOrOff">控制中心迁移</div>
                    	<div class="backupsIns">
                    		<span class="floatL">本机地址或者端口变更</span>
                    		
                    	</div>
                    	<p class="moveIns">请运行配置工具（开始菜单-所有程序-火绒终端安全管理系统-火绒终端安全软件配置工具），重新绑定IP或域名，更改端口。</p>
                    	<div class="movePara">
                    		<h4>迁移到其他新的机器</h4>
                    		<p>
                    			<label for="">新控制中心地址&nbsp;:&nbsp;</label>
                    			<input type="text" name="newAddress" value="" placeholder="">
                    		</p>
                    		<p>
                    			<label>需要迁移的分组&nbsp;:&nbsp;</label>
                    			<select name="moveGroups" class="verticalMiddle">
                    				<option value="0"></option>
                    			</select>
                    			
                    		</p>
                    		<p class="noticeTxt"><a class="moveButton cursor verticalMiddle">迁移</a>
                    		<span>&nbsp;&nbsp;为防止数据丢失，强烈建议迁移前先数据备份然后在新中心机器上进行数据恢复</span></p>
                    	</div>
                    	<div class="backupsTable moveTable">
                    		<table>
                    			<tr>
                    				<th>新控制中心地址</th>
                    				<th>迁移终端</th>
                    				<th>开始迁移时间</th>
                    				<th>迁移终端</th>
                    				<th>已迁移</th>
                    				<th>操作</th>
                    			</tr>
                    			<tr>
                    				<td>www.huorong.cn</td>
                    				<td>未分组终端</td>
                    				<td>2017-10-17 16:57:00</td>
                    				<td>100</td>
                    				<td>1000</td>
                    				<td>
                    					<a class="underline greenfont cursor" onclick="endMovePop(this)">终止</a>
                    					&&nbsp;
                    					<a class="underline greenfont cursor">迁移工具</a>
                    				</td>
                    			</tr>
                    			
                    		</table>
                    	</div>
                        

                    </div>
                    <div class="windowPop backupsSetPop absolute">
                    	<div class="title">设置<span class="closeWW"></span></div>
                    	<div class="mainBody">
                    		<p>
                    			<label>是否自动备份&nbsp;:&nbsp;</label>
                    			&nbsp;<input type="checkbox" name="isautoba" value="" class="verticalMiddle">
                    			<span>自动备份</span>
                    		</p>
                    		<p>
                    			<label>自动备份周期&nbsp;:&nbsp;</label>
                    			&nbsp;<input type="radio" name="bacyc" value="" placeholder="" class="verticalMiddle">
                    			<span>&nbsp;&nbsp;每月&nbsp;&nbsp;</span>
                    			<select name="mday">
                    				<option value=1>1日</option>
                    				<option value=2>2日</option>
                    				<option value=3>3日</option>
                    				<option value=4>4日</option>
                    				<option value=5>5日</option>
                    				<option value=6>6日</option>
                    				<option value=7>7日</option>
                    				<option value=8>8日</option>
                    				<option value=9>9日</option>
                    				<option value=10>10日</option>
                    				<option value=11>11日</option>
                    				<option value=12>12日</option>
                    				<option value=13>13日</option>
                    				<option value=14>14日</option>
                    				<option value=15>15日</option>
                    				<option value=16>16日</option>
                    				<option value=17>17日</option>
                    				<option value=18>18日</option>
                    				<option value=19>19日</option>
                    				<option value=20>20日</option>
                    				<option value=21>21日</option>
                    				<option value=22>22日</option>
                    				<option value=23>23日</option>
                    				<option value=24>24日</option>
                    				<option value=25>25日</option>
                    				<option value=26>26日</option>
                    				<option value=27>27日</option>
                    				<option value=28>28日</option>
                    				<option value=29>29日</option>
                    				<option value=30>30日</option>
                    				<option value=31>31日</option>
                    				
                    			</select>
                    			&nbsp;&nbsp;&nbsp;<input type="radio" name="bacyc" value="" placeholder="" class="verticalMiddle">
                    			<span>&nbsp;&nbsp;&nbsp;每周&nbsp;</span>
                    			<select name="wday">
                    				<option value=1>周一</option>
                    				<option value=2>周二</option>
                    				<option value=3>周三</option>
                    				<option value=4>周四</option>
                    				<option value=5>周五</option>
                    				<option value=6>周六</option>
                    				<option value=7>周日</option>
                    			</select>
                    		</p>
                    		<p>
                    			<label>备份时间范围&nbsp;:&nbsp;</label>
                    			<span>&nbsp;开始时间&nbsp;&nbsp;</span>
                    			<select name="bastarttime">
                    				<option value=0>0点</option>
                    				<option value=1>1点</option>
                    				<option value=2>2点</option>
                    				<option value=3>3点</option>
                    				<option value=4>4点</option>
                    				<option value=5>5点</option>
                    				<option value=6>6点</option>
                    				<option value=7>7点</option>
                    				<option value=8>8点</option>
                    				<option value=9>9点</option>
                    				<option value=10>10点</option>
                    				<option value=11>11点</option>
                    				<option value=12>12点</option>
                    				<option value=13>13点</option>
                    				<option value=14>14点</option>
                    				<option value=15>15点</option>
                    				<option value=16>16点</option>
                    				<option value=17>17点</option>
                    				<option value=18>18点</option>
                    				<option value=19>19点</option>
                    				<option value=20>20点</option>
                    				<option value=21>21点</option>
                    				<option value=22>22点</option>
                    				<option value=23>23点</option>
                                    <option value=24>24点</option>
                    			</select>
                    			<span>&nbsp;-&nbsp;&nbsp;结束时间&nbsp;</span>
                    			<select name="baendtime">
                    				<option value=0>0点</option>
                    				<option value=1>1点</option>
                    				<option value=2>2点</option>
                    				<option value=3>3点</option>
                    				<option value=4>4点</option>
                    				<option value=5>5点</option>
                    				<option value=6>6点</option>
                    				<option value=7>7点</option>
                    				<option value=8>8点</option>
                    				<option value=9>9点</option>
                    				<option value=10>10点</option>
                    				<option value=11>11点</option>
                    				<option value=12>12点</option>
                    				<option value=13>13点</option>
                    				<option value=14>14点</option>
                    				<option value=15>15点</option>
                    				<option value=16>16点</option>
                    				<option value=17>17点</option>
                    				<option value=18>18点</option>
                    				<option value=19>19点</option>
                    				<option value=20>20点</option>
                    				<option value=21>21点</option>
                    				<option value=22>22点</option>
                    				<option value=23>23点</option>
                                    <option value=24>24点</option>

                    			</select>
                    		</p>
                    		<p>
                    			<label>备份目录&nbsp;:&nbsp;&nbsp;</label>
                    			<input type="text" name="backupscata" value="" placeholder="C:\Program Files (x86)\Huorong" >

                    		</p>
                    		<p class="noticeTxt">
	                    		<label>备份内容包括 : </label>
	                    		<span>终端信息,分组及规则,防护策略,事件日志,管理员信息,系统设置</span>
	                    	</p>
                    	</div>
                    	<div class="buttons">
			                <a class="hideButtonn">取消</a>
			                <a onclick="savebasetButton(this)">保存</a>
			                
			                <div class="clear"></div>
			            </div>
                    </div>
                    <!-- 立即备份弹层 -->
			        <div class="backupPop windowPop">
			            <div class="title">立即备份<span class="closeWW"></span></div>
			            <div class="left"><img src="images/terTips.png"></div>
			            <div class="right">
			                <p class="describe"><span class="verticalMiddle">正在备份数据，请耐心等候 </span><!-- <font class="name"></font><span class="verticalMiddle"> 吗？</span> --></p>
			                <p class="describe">数据备份期间，控制中心不可用</p>

			            </div>
			            <div class="clear"></div>
			            <div class="buttons"><a class="hideButtonn">确定</a></div>
			        </div>
                    <!-- 立即恢复弹层 -->
			        <div class="recoverPop windowPop">
			            <div class="title">立即恢复<span class="closeWW"></span></div>
			            <div class="left"><img src="images/recover.png"></div>
			            <div class="right">
			                <p class="describe"><span class="verticalMiddle">确定需要立即恢复备份数据吗? </span><!-- <font class="name"></font><span class="verticalMiddle"> 吗？</span> --></p>
			                <p class="describe">恢复后现有数据将会被备份数据覆盖</p>

			            </div>
			            <div class="clear"></div>
			            <div class="buttons"><a class="hideButtonn">取消</a><a onclick="sureRBButton(this)" class="sure">确定</a></div>
			        </div>
			        <!-- 正在恢复弹层 -->
			        <div class="recoverNPop windowPop">
			            <div class="title">数据恢复<span class="closeWW"></span></div>
			            <div class="left"><img src="images/terTips.png"></div>
			            <div class="right">
			                <p class="describe"><span class="verticalMiddle">正在恢复数据，请耐心等候 </span><!-- <font class="name"></font><span class="verticalMiddle"> 吗？</span> --></p>
			                <p class="describe">数据恢复期间，控制中心不可用</p>

			            </div>
			            <div class="clear"></div>
			            <div class="buttons"><a class="hideButtonn">确定</a></div>
			        </div>
			        <!-- 删除备份弹层 -->
			        <div class="deleteBaPop windowPop">
			            <div class="title">删除提示<span class="closeWW"></span></div>
			            <div class="left"><img src="images/delete.png"></div>
			            <div class="right">
			                <p class="describe"><span class="verticalMiddle">确定删除该备份吗? </span><!-- <font class="name"></font><span class="verticalMiddle"> 吗？</span> --></p>

			            </div>
			            <div class="clear"></div>
			            <div class="buttons"><a class="hideButtonn">取消</a><a onclick="sureDBaButton(this)" class="sure">确定</a></div>
			        </div>
			        <!-- 终止迁移弹层 -->
			        <div class="endMovePop windowPop">
			            <div class="title">终止迁移<span class="closeWW"></span></div>
			            <div class="left"><img src="images/terTips.png"></div>
			            <div class="right">
			                <p class="describe"><span class="verticalMiddle">确定需要终止迁移任务吗? </span><!-- <font class="name"></font><span class="verticalMiddle"> 吗？</span> --></p>
			                <p class="describe">迁移任务尚未完成,终止迁移任务后无法继续迁移</p>

			            </div>
			            <div class="clear"></div>
			            <div class="buttons"><a class="hideButtonn">取消</a><a onclick="sureDMButton(this)" class="sure">确定</a></div>
			        </div>
	        	</div>
	        	<div class="clear"></div>
	        	
	        </div>
	        <div class="buttons">
                <a class="hideButton">取消</a>
                <a onclick="sureSetButton(this)">保存</a>
                
                <div class="clear"></div>
            </div>
            <div class="windowShade absolute"></div>
		</div>
		<div class="updatePop pop relative">
			<div class="absolute disabledPop"></div>
			<div class="absolute title"><span class="verticalMiddle">在线升级</span><span class="closeW cursor verticalMiddle  floatR"></span></div>
			<img src="images/updatebg.png" class="block">
			
			<div id="updates1" class="updates">
				<p class="bigp">正在从服务器获取更新信息...</p>
				<div class="buttons absolute">
				    <a class="cursor" onclick="closeupdate(this)">关闭</a>
				</div>	
			</div>
			<div id="updates2" class="updates">
				<p class="bigp">发现有新版本的更新信息</p>
				<div class="buttons absolute">
				    <a class="cursor" onclick="goupdate()">立即更新</a>
				</div>	
			</div>
			<div id="updates3" class="updates">
				<p class="bigp">正在下载更新......<br/>
					<img src="images/updating.gif">
				</p>
				<div class="buttons absolute">
				    <a class="cursor updating">更新中</a>
				</div>	
			</div>
			<div id="updates4" class="updates">
				<p class="bigp">恭喜您! 您的火绒管理中心已升级至最新版</p>
				<div class="buttons absolute">
				    <a class="cursor" onclick="closeupdateA(this)">好的</a>
				</div>	
			</div>
			<div id="updates5" class="updates">
				<p class="smallp"><font>很抱歉！本次升级出现异常</font><br/>很抱歉！本次升级出现异常导致升级失败<br/>建议您尝试重新升级</p>
				<div class="buttons absolute">
				    <a class="cursor asmall" onclick="goupdate()">再试一次</a>
				    <a class="cursor asmall bgw" onclick="closeupdate(this)">取消</a>
				</div>	
			</div>
			<div id="updates6" class="updates">
				<p class="smallp"><font>恭喜您！您的火绒终端安全管理系统已升级至最新版</font><br/>本次更新的部分核心功能需要重新登录后才能生效。<br/>建议您立即重新登录</p>
				<div class="buttons absolute">
				    <a class="cursor asmall">重新登录</a>
				    <a class="cursor asmall bgw">暂不登录</a>
				</div>	
			</div>
		
			<div id="updates7" class="updates">
				<p class="bigp">您的火绒终端安全管理系统已是最新版本，<br/>无需升级</p>
				<div class="buttons absolute">
				    <a class="cursor" onclick="closeupdate(this)">关闭</a>
				</div>	
			</div>
			<div id="updates8" class="updates">
				<p class="bigp">授权已过期</p>
				<div class="buttons absolute">
				    <a class="cursor" onclick="closeupdate(this)">关闭</a>
				</div>	
			</div>
			
		</div>
		<div class="emPop pop">
			<div class="title">授权信息<span class="closeW"></span></div>
			<div class="content relative">
				<div class="left absolute">
					<img src="images/em.png">
					<p>火绒终端安全管理系统</p>
				</div>
				<div class="right absolute">
					<p>
						授权公司&nbsp;&nbsp;:&nbsp;&nbsp;
						<span class="emCom">北京火绒科技有限公司</span>
					</p>
					<p>
						<font class="verticalMiddle">授权状态&nbsp;&nbsp;:&nbsp;&nbsp;</font>
						<a class="emStatus1">
							<span class="verticalMiddle"></span>
							<font class="verticalMiddle">正版授权</font>
						</a>
						<a class="emStatus0">
							<span class="verticalMiddle"></span>
							<font class="verticalMiddle">未授权</font>
							</a>
						<a class="emStatus2">
							<span class="verticalMiddle"></span>
							<font class="verticalMiddle" style="color:#eb6948;">正版授权（已到期）</font>
						</a>
					</p>
					<p class="windows_num">
						windows终端&nbsp;&nbsp;:&nbsp;&nbsp;
						<span class="emTerminal">100</span>台
					</p>
					<p class="windows_over">
						授权期限&nbsp;&nbsp;:&nbsp;&nbsp;剩余&nbsp;
						<span class="emOver colorOrange"></span>&nbsp;天
						<span class="specialTxt">,请立即
							<font class="colorOrange">更新授权</font>
						</span>
					</p>
					<p class="linux_num">
						Linux终端&nbsp;&nbsp;:&nbsp;&nbsp;<span class="emTerminal">100</span>台
					</p>
					<p class="linux_over">
						授权期限&nbsp;&nbsp;:&nbsp;&nbsp;剩余&nbsp;
						<span class="emOver colorOrange"></span>&nbsp;天
						<span class="specialTxt">,请立即
							<font class="colorOrange">更新授权</font>
						</span>
					</p>
					<div >
						<form id="emFile" method="get" action="/mgr/sysconf/_license" enctype="multipart/form-data">
							<input type="file" class="verticalMiddle" name="license" onchange="onUploadChange(this)">
							<a class="updateEm cursor verticalMiddle">更新授权</a>
						</form>
						<span class="emhint absolute cursor"></span>
						<div class="absolute emhintfloat">

						</div>
                        <img src="images/smalltriangle.png" alt="" class="absolute smalltriangle">
					</div>
					<p class="colorOrange">获取授权文件，请联系010-8490-5882</p>
				</div>
			</div>
		</div>
		<!-- 终端详情弹层 start -->
		<div class="pop detailPop">
			<div class="title">终端详情<span class="closeW"></span></div>
			<div class="left">
				<div class="detailcom"><img src="images/detailcom.png"></div>
				<p class="terminalstatus">服务异常</p>
				<p class="terminalname">【终端名称】</p>
				<p class="isgroup">【所在分组】</p>
			</div>
			<div class="right" style="height: 374px;overflow-y: scroll;">
				<div class="terOverview">

				</div>
			</div>
		</div>

		<!-- 终端详情弹层 end -->
		<div class="delayHide">
        	<p class="p1"><img src="images/unusualw.png">手机或电话号码格式不对!</p>

        </div>
        <div class="delayHideS">
        	<p class="p1"><img src="images/success.png">手机或电话号码格式不对!</p>

        </div>
		
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script>
			//授权
			// 悬浮变色
			{{if .PrivSystem }}
			$(".top .container .logo .empng1,.top .container .logo .emmsg1").mouseenter(function(){
				$(".top .container .logo .empng1").css({backgroundPosition:"-20px"});
				$(".top .container .logo .emmsg1").css({color:"#fda838"});
			}) 
			$(".top .container .logo .empng1,.top .container .logo .emmsg1").mouseleave(function(){
				$(".top .container .logo .empng1").css({backgroundPosition:"0px"});
				$(".top .container .logo .emmsg1").css({color:"#c9933d"});
			}) 
			$(".top .container .logo .empng0,.top .container .logo .emmsg0").mouseenter(function(){
				$(".top .container .logo .empng0").css({backgroundPosition:"-20px"});
				$(".top .container .logo .emmsg0").css({color:"#ffffff"});
			}) 
			$(".top .container .logo .empng0,.top .container .logo .emmsg0").mouseleave(function(){
				$(".top .container .logo .empng0").css({backgroundPosition:"0px"});
				$(".top .container .logo .emmsg0").css({color:"#b6b6b6"});
			}) 
			$(".top .container .logo .empng2,.top .container .logo .emmsg2").mouseenter(function(){
				$(".top .container .logo .empng2").css({backgroundPosition:"-20px"});
				$(".top .container .logo .emmsg2").css({color:"#fd6627"});
			}) 
			$(".top .container .logo .empng2,.top .container .logo .emmsg2").mouseleave(function(){
				$(".top .container .logo .empng2").css({backgroundPosition:"0px"});
				$(".top .container .logo .emmsg2").css({color:"#e96a4e"});
			}) 
			// 授权弹层
			$(".top .container .logo").on("click",".empng1,.emmsg1,.empng0,.emmsg0,.empng2,.emmsg2",function(){
				$(".emPop").show();
				shade();
				$("input[name=license]").val("");
			})
			{{end}}
		</script>
	</body>
</html>