.whole{overflow-y:scroll;font-size: 12px;color: #6c6c6c;overflow-x:hidden;*position: relative;*top:0;*left: 0;}
.safeOverview{background: #ffffff;}
.safeOverview .up{border-bottom: 1px solid rgb(240,240,240);line-height: 44px;height: 44px;}
.safeOverview .up .floatL .text{font-size: 14px;padding-left: 20px;padding-right: 44px;}

.safeOverview .terminalAB{margin-right: 38px;}
.safeOverview .onekeySKB{margin-right: 20px;}
.safeOverview .ArrangeImmB{color: #fda929}
/*.safeOverview .ArrangeImmB:hover{color:#ff9600}
.safeOverview .ArrangeImmB:active{color: #f17f05}*/


.safeOverview .down{padding: 12px 0;padding-left: 98px}
.overviewBlock{width: 216px;border-right: 1px solid rgb(231,234,236);float: left;padding-left: 34px;}
.noneborderright{border-right: 0px;}
.overviewBlock .text{left: 104px;top:0px;}
.overviewBlock .text .number{font-size: 18px;color: #676a6c}

.chartATable{margin-top: 10px;margin-bottom: 10px;}
.chartATLine{margin-top: 4px;}

.chartBlock,.tableBlock{background: #ffffff;width: 598px;}
.chartBlock .bigTitle,.tableBlock .bigTitle{line-height: 44px;height: 44px;padding-right: 20px;border-bottom: 1px solid rgb(231,234,236)}
.chartBlock .bigTitle .titleText,.tableBlock .bigTitle .titleText{padding-left: 20px;}
.chartBlock .bigTitle select,.tableBlock .bigTitle select{width: 100px}
.chartBlock .bigTitle .floatR a,.tableBlock .bigTitle .floatR a{padding-right: 20px;}
.moreSign{top:-13px;right:0px;}
@-moz-document url-prefix() { .moreSign{top:-13px;right:0px;} }

.table table th,.table table td{text-align: left;line-height: 34px;padding-left: 10px;}
.table table .textAR{text-align: right;padding-right: 10px;}
.table table tr{border-bottom: 1px solid rgb(231,234,236)}
.table table tr:nth-child(even){background:rgb(249,249,249);}
.table table td .nameWidth{width: 100px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;vertical-align: bottom;}
.table{padding: 0px 20px;padding-bottom: 24px;padding-top: 14px;height:386px;}
.chart{height:394px;padding-bottom: 30px;padding-right: 10px;}
table{border-collapse: collapse;}
.chartBlock .buttons{padding-top: 20px;float: right;padding-bottom: 20px;padding-right: 20px;height: 19px;}
.chartBlock .buttons a{display: inline-block;margin-left: 10px;color: #ffffff;width: 50px;border-radius: 4px;}
.chartBlock .buttons .virusB{background: #f8ac59;border: 1px solid #f8ac59}
.chartBlock .buttons .systemB{border: 1px solid #7ea0fc;color: #7ea0fc}
.chartBlock .buttons .netB{border: 1px solid #a889dd;color: #a889dd}

.overviewBlock .text .terminalColor{color: #6c6c6c}
.overviewBlock .text .virusColor{color: #f8ac59}
.overviewBlock .text .netColor{color: #a889dd}
.overviewBlock .text .systemColor{color: #7ea0fc}
.overviewBlock .text .terminalColor:hover{color: #959595}
.overviewBlock .text .virusColor:hover{color: #ffbb70}
.overviewBlock .text .netColor:hover{color: #bea1ef}
.overviewBlock .text .systemColor:hover{color: #91afff}
.overviewBlock .text .terminalColor:active{color: #5d5d5d}
.overviewBlock .text .virusColor:active{color: #f17f05}
.overviewBlock .text .netColor:active{color: #8c69ca}
.overviewBlock .text .systemColor:active{color: #5b81e5}

#column{padding-top: 13px;padding-bottom: 30px;height:322px;}
.footerFP{line-height: 40px;background:rgb(49,67,82);color: #b6b6b6;text-align: center;font-size: 12px;width:100%;}
.footerFP .container{width:1200px;margin:0 auto;background-color:rgb(49,67,82);}
.footerFP .container a{text-decoration: none;color: #b6b6b6}
.footerFP .container a:hover{color: #ffffff}
/*查看历史任务详情*/
.taskDetailPop{display: none;width: 745px;height: 500px;position: fixed;top: 50%;left:50%;margin-left: -373px;margin-top: -260px;z-index: 999;background: #ffffff;}
.taskDetailPop .title{position: relative;font-size: 14px;color: #676a6c;padding-left: 20px;border-bottom: 1px solid rgb(231,234,236);line-height: 50px;}
.taskDetailPop .title .closeW{cursor: pointer;position: absolute;top:16px;right: 26px;display: block;width: 20px;height: 20px;background: url(../images/closeW.png);*top:2px;}
.taskDetailPop .title .closeW:hover{background-position: -20px}
.taskDetailPop .describe{line-height: 46px;font-size: 12px;color: #676a6c;position: relative;padding-left: 32px}
.taskDetailPop .describebg{background: #f9f9f9}
.taskDetailPop .describe img{position: absolute;top:21px;right: 30px;cursor: pointer;}
.taskDetailPop .tableth{padding-right: 18px;background: rgb(240,240,240)}
.taskDetailPop .taskDetailTable,.taskDetailPop .tableth{color: #6c6c6c;font-size: 12px;margin:0 22px;}
.taskDetailPop .tableth table,.taskDetailPop .taskDetailTable table{border-collapse: collapse;}
.taskDetailPop.tableth tr{background: rgb(240,240,240);border-top: 1px solid rgb(231,234,236);border-bottom: 1px solid rgb(231,234,236)}
.taskDetailPop .tableth th,.taskDetailPop .taskDetailTable td{line-height: 36px;padding-left: 10px;font-weight: normal;}
.taskDetailPop .tableth th{color: #676a6c;text-align: left;background: rgb(240,240,240)}
.taskDetailPop .taskDetailTable{height: 313px;overflow-y:scroll;border-bottom:1px solid rgb(231,234,236) }
.taskDetailPop .taskDetailTable table{border:0;}
.taskDetailPop .taskDetailTable tr:hover{background: rgb(249,249,249)}
.taskDetailPop .taskDetailTable table td .nameWidth{width: 100px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;vertical-align: bottom;}

.taskDetailPop .describe span{position: absolute;top:18px;right: 30px;cursor: pointer;width: 18px;height: 18px;display: inline-block;background: url(../images/gear.png)}
.taskDetailPop .describe span:hover{background-position: -18px;}
.taskDetailPop .describe span:active{background-position: -36px;}
.taskDetailPop .softInf{padding-left: 32px;padding-right: 22px;height: 61px;padding-top: 10px;}
.taskDetailPop .softInf span{font-size: 12px;color: #6c6c6c;margin-right: 38px;}
.taskDetailPop .softInf .distrfName{width: 692px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;vertical-align: top;}
.taskDetailPop .softInf p{font-size: 12px;color: #6c6c6c;overflow-y:scroll;height: 34px;word-break:break-all; }
.taskDetailPop .messageTxt{font-size: 12px;color: #6c6c6c;padding-left: 32px;height: 61px;padding-right: 22px;padding-top: 10px}
.taskDetailPop .messageTxt p{word-break:break-all;overflow-y:scroll;height: 52px; }

.fastSKCPop,.overallSKCPop{display: none;width: 745px;height: 500px;position: fixed;top: 50%;left:50%;margin-left: -373px;margin-top: -260px;z-index: 999;background: #ffffff;}
.fastSKCPop .title,.overallSKCPop .title{position: relative;font-size: 14px;color: #676a6c;padding-left: 20px;border-bottom: 1px solid rgb(231,234,236);line-height: 50px;}
.fastSKCPop .title .closeWW,.overallSKCPop .title .closeWW{cursor: pointer;position: absolute;top:16px;right: 26px;display: block;width: 20px;height: 20px;background: url(../images/closeW.png);*top:2px;}
.fastSKCPop .title .closeWW:hover,.overallSKCPop .title .closeWW:hover{background-position: -20px}
.fastSKCPop .buttons,.overallSKCPop .buttons{border-top: 1px solid rgb(231,234,236);margin:0 22px;padding-top: 12px;}
.fastSKCPop .buttons a,.overallSKCPop .buttons a{cursor: pointer;margin-left:4px;display: inline-block;width: 84px;line-height: 22px;background: rgb(101,197,129);color: #ffffff;border-radius: 3px;float: right;text-align: center;font-size: 12px; }
.fastSKCPop .buttons a:hover,.overallSKCPop .buttons a:hover{background: rgb(71,172,117)}
.fastSKCPop .buttons .recoverDefault,.overallSKCPop .buttons .recoverDefault{float: left}

.fastSKCPop .content,.overallSKCPop .content{height: 410px;overflow-y:scroll;margin:0 22px;border-bottom: 1px solid rgb(231,234,236) }
.setBlock{padding: 0 20px;border-bottom: 1px solid rgb(231,234,236);padding-bottom: 10px;color: #6c6c6c;padding-top: 10px}
.setBlockLast{border-bottom: 0px;}
.setBlock h4{line-height: 30px;font-size: 14px;font-weight: normal;}

.setBlock p{font-size: 12px;line-height: 26px;}
.setBlock .leftP{float: left;margin-right: 104px}
.setBlock p span{vertical-align: middle;}
.setBlock p input{vertical-align: middle;margin-right: 20px;}
.setBlock p input[name=overallPara1],.setBlock p input[name=overallPara2]{margin-left: 10px;margin-right: 10px;outline: none;border: 1px solid rgb(231,234,236);padding-left: 10px;width:100px;line-height: 20px;height: 20px;color: #333333;font-size: 12px}

/*分页样式*/
.table .tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;font-size: 12px}  
.tcdPageCode a{display: inline-block;color: #6a6c6e;display: inline-block;height: 25px;line-height: 25px; padding: 0 10px;border: 1px solid rgb(221,221,221);margin: 0 2px;border-radius: 4px;vertical-align: middle;}  
.tcdPageCode a:hover{text-decoration: none;background: rgb(244,244,244)}  
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: rgb(101,197,129);    border: 1px solid rgb(101,197,129);border-radius: 4px;vertical-align: middle;}  
.tcdPageCode span.disabled{    display: inline-block;height: 25px;line-height: 25px;padding: 0 10px; margin: 0 2px;color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}

/*一键查杀*/
/*移动分组*/
.onekeySKPop{display: none;width: 500px;height: 334px;position: fixed;top: 50%;left:50%;margin-left: -241px;margin-top: -277px;z-index: 999;background: #ffffff;}
.onekeySKPop .title{position: relative;font-size: 14px;color: #676a6c;padding-left: 20px;border-bottom: 1px solid rgb(231,234,236);line-height: 50px;}
.onekeySKPop .title .closeW{cursor: pointer;position: absolute;top:16px;right: 26px;display: block;width: 20px;height: 20px;background: url(../images/closeW.png);*top:2px;}
.onekeySKPop .title .closeW:hover{background-position: -20px}
.onekeySKPop .describe{font-size: 14px;color: #676a6c;line-height: 48px;padding-left: 32px}
.onekeySKPop .ul{font-size: 12px;color: #676a6c;padding: 0 20px}
.onekeySKPop .ul ul{height: 180px;overflow-y:scroll;}
.onekeySKPop .ul ul li{line-height: 30px;background: rgb(243,243,244);margin-bottom: 3px;padding-left: 10px;border: 1px solid rgb(243,243,244);height: 30px;}
.onekeySKPop .ul ul li:hover{background: #ffffff;border: 1px solid rgb(243,243,244)}
.onekeySKPop .ul ul li input{vertical-align: middle;}
.onekeySKPop .ul ul li span{vertical-align: middle;padding-left: 10px;}
.onekeySKPop .ul ul li .number{right:20px;}
.onekeySKPop .buttons{padding-right: 14px;}
.onekeySKPop .sureSKButton{cursor: pointer;font-size: 12px;width: 100px;text-align: center;line-height: 22px;height: 22px;display: inline-block;background: rgb(101,197,129);color: #ffffff;border-radius: 3px;float: right;margin-top: 14px;margin-right: 6px; }
.onekeySKPop .sureSKButton:hover{background: rgb(71,172,117)}

.delayHide{display: none;z-index: 999;text-align: center;color: #ffbe00;position: fixed;top:30%;left:50%;margin-left:-65px;width:130px;height: 44px;background-color: rgba(255,239,194,0.86);background-color:rgb(255,239,194)\9;border-radius: 5px}
.delayHide .p1{font-size: 14px;line-height: 44px}
.delayHide .p2{font-size: 12px;margin-top: 6px;}
.delayHide .p2 font{color:rgb(101,197,129);}
.delayHideS{display: none;z-index: 999;text-align: center;color: #5fc47f;position: fixed;top:30%;left:50%;margin-left:-65px;width:130px;height: 44px;background-color: rgba(211,255,211,0.86);background-color:rgb(211,255,211)\9;border-radius: 5px}
.delayHideS .p1{font-size: 14px;line-height: 44px}
.delayHideS .p2{font-size: 12px;margin-top: 6px;}
.delayHideS .p2 font{color:rgb(101,197,129);}
/*查看弹窗中详情*/
.eventTable .detailFloat{display: none;width: 406px;line-height: 20px;background: #ffffff;border:1px solid rgb(199,199,199);border-radius: 5px;right: 54px;bottom:12px;padding:16px 24px;z-index: 9; word-wrap:break-word;white-space:pre-wrap;}
.eventTable .detailFloat h4{font-weight: bold;font-size: 12px;color: #676a6c;margin-bottom: 14px;display: block;}
.eventTable .detailFloat h4 span{float: right;width: 20px;height: 20px;background: url(../images/closeW.png);display: block;}
.eventTable .detailFloat h4 span:hover{background-position: -20px;}